# Dependencies
node_modules/
.pnp/
.pnp.js

# Build
.next/
out/
build/
cdk.out/
dist/

# Env
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# CDK
cdk.context.json

# Misc
*.log
